.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1e3a8a; /* Shiny dark blue */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #b484d2; /* Shiny dark blue */
  color: white;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
}

nav {
  position: fixed;
  top: 10px;
  right: 20px;
}

nav a {
  text-decoration: none;
  margin-left: 15px;
  color: white;
  font-weight: bold;
}

nav a:hover {
  color: #ddd;
  text-decoration: underline;
}

/* Input field styling */
.form-container input {
  margin-right: 10px; /* Space between input and button */
  margin-top: 620px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

/* Button styling */
.Submit-Button {
  padding: 0.5rem 1rem;
  background-color: #1e3a8a; /* Shiny dark blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Submit-Button:hover {
  background-color: #102a5b; /* Darker shiny blue on hover */
}
